# Data Science Tools and Ecosystem

## Introduction

In this notebook, we will summarize important tools, languages, and libraries used in the field of Data Science.

## Data Science Languages

The most commonly used languages by Data Scientists include:
1. Python
2. R
3. SQL
4. Julia

## Data Science Libraries

Some popular libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. Matplotlib
5. TensorFlow

## Data Science Tools

| Tool Name     | Category             | Description                      |
|---------------|----------------------|----------------------------------|
| Jupyter       | Notebook Environment | Code + Text Integration          |
| RStudio       | IDE                  | R Programming Development        |
| Apache Spark  | Big Data Framework   | Distributed Processing Framework |

## Examples of Evaluating Arithmetic Expressions

Below are some examples of how we can evaluate arithmetic expressions in Python.

In [ ]:
# This code multiplies and adds two numbers
(3*4)+5

In [ ]:
# This will convert 200 minutes to hours
200 / 60

## Objectives

- List popular languages for Data Science
- Identify commonly used libraries
- Create tables using markdown
- Perform basic arithmetic using Python

## Author

Satyam Adinath Kurhe